
.Button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}
