
.orderFilterSelect {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.ordersListWrapper {
    padding: 8px;
    margin-top: 20px;
}

.deleteOrderBtn {
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    padding: 3px;

}

.methodOfDelivery {
    height: fit-content;
    border-radius: 5px;
    padding: 3px 5px;
    background-color: #17202a;
}

.deleteOrderBtn:active {
    background-color: rgba(255, 0, 0, 0.1);
}

.custom_panel {
    :global(.ant-collapse-content-box) {
        padding: 0 !important;
    }
}

.ant-collapse-header-text {
    color: var(--tg-theme-text-color);
}

.ant-collapse-arrow svg {
    fill: var(--tg-theme-text-color);
}

.ant-collapse-content-box {
    background-color: var(--tg-theme-bg-color) !important;
    padding: 0!important;
}

.ant-descriptions-item-label, .ant-descriptions-item-content, .ant-descriptions-title {
    color: var(--tg-theme-text-color) !important;
}

.ant-collapse-item, .ant-collapse, .ant-collapse-content {
    /*border-width: 2px!important;*/
    border-color: var(--tg-theme-secondary-bg-color) !important;
}