
.orderFilterSelect {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.ordersListWrapper {
    padding: 8px;
    margin-top: 20px;
}

.custom_panel {
    :global(.ant-collapse-content-box) {
        padding: 0 !important;
    }
}

.ant-collapse-header-text {
    color: var(--tg-theme-text-color);
}

.ant-collapse-arrow svg {
    fill: var(--tg-theme-text-color);
}

.ant-collapse-content-box {
    background-color: var(--tg-theme-bg-color) !important;
    padding: 0!important;
}

.ant-descriptions-item-label, .ant-descriptions-item-content, .ant-descriptions-title {
    color: var(--tg-theme-text-color) !important;
}

.ant-collapse-item, .ant-collapse, .ant-collapse-content {
    /*border-width: 2px!important;*/
    border-color: var(--tg-theme-secondary-bg-color) !important;
}