

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

textarea {

    margin-top: 20px;
    font-family: 'Young Serif';
    font-size: 16px;
    color: var(--tg-theme-text-color);
    padding: 8px;
    background-color: var(--tg-theme-secondary-bg-color);
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.requiredLabel::after {
    content: " *";
    color: red;
}

.messageHint {
    margin-left: 20px;
    padding-bottom: 140px;
    margin-top: 10px;
    color: var(--tg-theme-hint-color);
}

.input {
    font-family: 'serif';

    background-color: var(--tg-theme-secondary-bg-color);
    border: none;
    width: 100%;
    padding: 8px 10px;
    font-size: 18px;
    color: var(--tg-theme-text-color);
}


.orderHeader {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display: flex;

}

.orderHeader a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.orderedItems {
    gap: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.orderedItem {
    padding: 6px;
    background-color: var(--tg-theme-secondary-bg-color);
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.titleWrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.titleWrapper {
    display: flex;
}

.titleWrapper p {

}