
.Header {
    background-color: #dd243e;;
    padding: 5px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.logoWrapper {
    gap: 20px;
    display: flex;
}

.Header h1 {
    color: white;
}