


.goodForm {
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 10px;
    border-radius: 5px;
    margin: 8px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

